---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Filter from "../components/songs/Filter.astro";
import SongList from "../components/songs/SongList.astro";

const fitnessSongs = Object.values(
  import.meta.glob("./songs/fitness/*.md", { eager: true })
);

const danceSongs = Object.values(
  import.meta.glob("./songs/dance/*.md", { eager: true })
);

const songs = [...fitnessSongs, ...danceSongs];
---

<Layout>
  <Hero
    title="Choreography"
    subtitle="A reference for the songs that Grayson uses in his bungee classes."
  />
  <Filter fitnessCount={fitnessSongs.length} danceCount={danceSongs.length} />
  {songs.length > 0 && <SongList songs={songs} />}
  {songs.length === 0 && <div>No songs found</div>}
</Layout>

<style></style>
