---
import "../styles/global.css";
---

<section class="cta-section">
  <h3 class="cta-title">Ready to experience bungee fitness in Seattle?</h3>
  <a
    href="https://www.newmoonmovementarts.com/classes/#BungeeFitness"
    class="cta-button"
    target="_blank"
  >
    Join Classes
  </a>
</section>
