---
import "../styles/global.css";
---

<footer class="footer">
  <h4 class="footer-title">About the Instructor</h4>
  <p class="footer-text">
    This repository is maintained by <a
      href="https://graysonarts.com/"
      class="footer-link"
      target="_blank">Grayson</a
    >, who teaches bungee fitness classes at <a
      href="https://www.newmoonmovementarts.com/classes/#BungeeFitness"
      class="footer-link"
      target="_blank">New Moon Movement Arts</a
    > in Seattle.
  </p>
</footer>
