---
import "../styles/global.css";
import { MusicIcon, SchoolIcon } from "@lucide/astro";
---

<header class="header">
  <div class="nav-container">
    <h1 class="logo">bungee.help</h1>
    <nav class="main-nav">
      <a href="/reference" class="nav-link"
        ><MusicIcon class="nav-icon" />songs</a
      >
      <a href="/studios" class="nav-link"
        ><SchoolIcon class="nav-icon" />studios</a
      >
    </nav>
  </div>
</header>
