---
import "../styles/global.css";
---

<header>
  <h1>
    <a href="/">bungee.help</a>
  </h1>
  <nav>
    <a href="/studios">studios</a>
    <a href="/reference">reference</a>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.414rem;
    background-color: var(--bice-blue);
    color: var(--antiflash-white);
    font-size: calc(1.414rem * 1.414 * 1.414);
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }

  header h1 a {
    font-size: calc(1.414rem * 1.414 * 1.414);
    color: var(--antiflash-white);
    text-decoration: none;
  }

  header nav {
    display: flex;
    flex-direction: row;
    gap: 1.414rem;
    justify-content: center;
    align-items: center;
    padding: 1.414rem;
    width: 100%;
    color: var(--antiflash-white);
    font-size: 1.414rem;
  }

  header nav a {
    color: var(--antiflash-white);
    text-decoration: none;
  }

  header nav a:hover,
  header h1 a:hover {
    color: var(--pumpkin);
    text-decoration: underline;
  }
</style>
