---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bungee.help - Choreography Repository</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
    <script
      defer
      data-domain="bungee.help"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
