---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/tqo5xdj.css" />
		<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
		<title>bungee.dance</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	main {
		padding: 1.414rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.414rem;
	}
</style>
